* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Zealot";
  src: url("./font/ZealotCollege-8v9g.ttf") format("truetype");
 }
/* @font-face {
  font-family: "Squirk";
  src: url("./font/Squirk-RMvV.ttf") format("truetype");
} */
@font-face {
  font-family: "Gotham";
  src: url("./font/Gotham-Bold.otf") format("opentype"), url("./font/Gotham-Light.otf") format("opentype");
}

h1 {
  font-family: 'Zealot';
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}

h2 {
  font-size: 30px;
}

body {
  height: auto;
  background: rgb(251, 186, 88);
  background: linear-gradient(
    90deg,
    rgba(251, 186, 88, 1) 0%,
    rgba(255, 194, 115, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  display: flex;
  font-family: 'Gotham' ;
  font-size: x-large;
  font-weight: 800;
  background-color: #FBF2D9;
  border-bottom: 2px solid black;
}

header .site-name {
  float: left;
  flex: auto;
  margin: 1rem;
  font-size: medium;
}

header .nav-bar {
  float: right;
  flex: auto;
  margin: 1rem;
  font-size: small;

}

.nav-bar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}

.home-main {
  align-items: center;
}

#start-btn {
  background-image: linear-gradient(
    to right,
    #200122 0%,
    #6f0000 51%,
    #200122 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display:block;
}


#start-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* 
footer {
  display: flex;
  text-align: center;
  background-color: white;
  border-top: 2px solid black;
}

footer .copyright {
  float: center;
  flex: auto;
  margin: 3rem;
} */
